<div id="editor">
    <div id="gutter">
        <span>1</span>
    </div>
    <textarea rows="5"></textarea>
</div>
<script>
    const input = document.querySelector('#editor > textarea');
    function getLogResult(){
        let keep = true;
        const urlLogs = "/dashboard/status/logs";
        let res = get(urlLogs)        
        if(res.responseURL.includes(window.location.href) && res.readyState === 4){
            input.value = '';
            setTimeout(() => {
                getLogResult()
            }, 4500);
        }else{
            if(keep) keep = !keep;
        }
        if(keep) updateEditor(res.responseText, input);
    }
    window.addEventListener('load', (e) => {
        getLogResult();
    })
    input.addEventListener('focus', (e) => {
        if(!e.target.hasAttribute('disabled')) e.target.setAttribute('disabled', '');
        document.activeElement.blur();
    })
</script>