<div id="header" {{#if section}} class="w-100 border-bottom border-light" {{else}} class="d-none" {{/if}}>
    <div class="text-white ps-2 pb-1" style="padding-top: 15px">
        {{#if section}}
            <h5>{{section.name}} {{#if section.pointer}} : {{section.pointer}} {{/if}}</h5>
        {{/if}}
    </div>
</div>