<link rel="stylesheet" href="https://colorlib.com/etc/404/colorlib-error-404-3/css/style.css" crossorigin="anonymous">
<style>
    .notfound a {
        font-family: 'Raleway', sans-serif;
        display: inline-block;
        font-weight: 700;
        border-radius: 15px;
        text-decoration: none;
        color: #39b1cb;
    }
    .notfound a>.arrow {
        position: relative;
        top: -2px;
        border: solid #39b1cb;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    @media only screen and (max-width: 767px) {
        .notfound .notfound-404 {
            height: 122px;
            line-height: 122px;
        }
        .notfound .notfound-404 h1 {
            font-size: 122px;
            letter-spacing: -0.2em;
        }
    }
</style>
<div class="col-12">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Oops! Error del Cliente</h3>
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            {{#if message}}
                <h2>{{message}}</h2>
            {{else}}
                <h2>No se ha encontrado lo que buscabas</h2>
            {{/if}}
            <a {{#if hidebutton}} class="d-none" {{/if}} href="/"><span class="arrow"></span>Retroceder</a>
        </div>
    </div>
</div>
<script>document.body.classList.replace('bg-dark', 'bg-light')</script>