<link rel="stylesheet" href="/assets/css/htmlError.css">
<div class="position-relative bg-light text-white">
    <div id="notfound" class="w-100 position-absolute top-50">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Oops! Error del Servidor</h3>
                <h1><span>5</span><span>0</span><span>0</span></h1>
            </div>
            {{#if message}}
                <h2>{{message}}</h2>
            {{else}}
                <h2>Ocurri&oacute; un error por nuestra parte</h2>
            {{/if}}
            <a {{#if hidebutton}} class="d-none" {{/if}} href="/"><span class="arrow"></span>Retroceder</a>
        </div>
    </div>
</div>
{{#if name}}
<script>document.body.classList.replace('bg-light', 'bg-dark')</script>
{{else}}
<script>document.body.classList.replace('bg-dark', 'bg-light')</script>
{{/if}}