<!DOCTYPE html>
<html lang="en">
<head>
    {{> docHead}}
</head>
<body class="bg-dark">
    <div class="container-fluid pl-0">
        <div class="row">
            {{{body}}}
        </div>
    </div>
    <!-- JS -->
    {{> docFoot }}
</body>
</html>