<!DOCTYPE html>
<html lang="en">
<head>
    {{> docHead }}
</head>
<body class="bg-dark">
    <div class="container-fluid pl-0">
        <div class="row">
            <div class="col-12 border-bottom border-light" id="topmenu">
                <div class="row mt-2">
                    <div class="col-3 col-sm-2">
                        <button onclick="window.location.href = '/';" class="btn btn-light-outline h2 bg-transparent text-white" role="button">ARMwall</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn bg-transparent btn-light" onclick="toggleSidebar(this)"><i class="bi bi-arrow-90deg-left"></i></button>
                    </div>
                    {{#if name}}
                    <div class="col-6 col-md-3 text-right text-end">
                        <p class="text-white">{{name}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="wrapper">
                    <!-- Sidebar  -->
                    <nav id="sidebar" class="border-end border-light">
                        <ul class="list-unstyled components">
                            <li class="active">
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="true">Dashboard</a>
                                <ul class="collapse show list-unstyled" id="dashboard">
                                    <li>
                                        <a href="/dashboard/passwords">Contrase&ntilde;a</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/status">Monitoreo</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/control-panel">Panel de Control</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/licenses">Licencias</a>
                                    </li>
                                    <li>
                                        <a href="/auth/logout">Cerrar Sesi&oacute;n</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#system" aria-expanded="false">Sistema</a>
                                <ul class="collapse list-unstyled" id="system">
                                    <li>
                                        <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="false">Configuraci&oacute;n</a>
                                        <ul class="collapse list-unstyled" id="settings">
                                            <li>
                                                <a href="/settings/restore">Restauraci&oacute;n de F&aacute;brica</a>
                                            </li>
                                            <li>
                                                <a href="/settings/backup">Copia de Seguridad</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/settings/depuration">Depuraci&oacute;n</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#firewall" aria-expanded="false">Cortafuegos</a>
                                <ul class="collapse list-unstyled" id="firewall">
                                    <li>
                                        <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#interfaces" aria-expanded="false">Interfaces</a>
                                        <ul class="collapse list-unstyled" id="interfaces">
                                            <li>
                                                <a href="/firewall/wan/1/setup">Configurar WAN</a>
                                            </li>
                                            <li>
                                                <a href="/firewall/lan/1/setup">Configurar LAN 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#rules" aria-expanded="false">Reglas</a>
                                        <ul class="collapse list-unstyled" id="rules">
                                            <li>
                                                <a href="/firewall/wan/1/rules">Configurar WAN</a>
                                            </li>
                                            <li>
                                                <a href="/firewall/lan/1/rules">Configurar LAN 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#power" aria-expanded="false">Encendido</a>
                                <ul class="collapse list-unstyled" id="power">
                                    <li>
                                        <a href="/system/reboot">Reiniciar</a>
                                    </li>
                                    <li>
                                        <a href="/system/shutdown">Apagar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- Page Content  -->
                    <div id="content" class="overflow-auto">
                        <div class="position-relative">
                            <div class="position-absolute w-100">
                                {{> section }}
                                <div class="col-12 mt-5">
                                    {{{body}}}
                                </div>
                                {{> footer }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    {{> docFoot }}
</body>
</html>