<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            ARMwall
        {{/if}}
    </title>
    <!--CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="bg-dark">
    <div class="container-fluid pl-0">
        <div class="row">
            <div class="col-12" id="topmenu">
                <div class="row mt-2">
                    <div class="col-3 col-sm-2">
                        <button onclick="window.location.href = '/';" class="btn btn-light-outline h2 bg-transparent text-white" role="button">ARMwall</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn bg-transparent btn-light" onclick="toggleSidebar(this)"><i class="bi bi-arrow-90deg-left"></i></button>
                    </div>
                    {{#if app.name}}
                    <div class="col-6 text-right">
                        <p class="text-white">{{app.name}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="wrapper">
                    <!-- Sidebar  -->
                    <nav id="sidebar">
                        <ul class="list-unstyled components">
                            <li class="active">
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="true">Dashboard</a>
                                <ul class="collapse show list-unstyled" id="dashboard">
                                    <li>
                                        <a href="/dashboard/passwords">Contrase&ntilde;a</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/status">Monitoreo</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/control-panel">Panel de Control</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/licenses">Licencias</a>
                                    </li>
                                    <li>
                                        <a href="/auth/logout">Cerrar Sesi&oacute;n</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#system" aria-expanded="false">Sistema</a>
                                <ul class="collapse list-unstyled" id="system">
                                    <li>
                                        <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="false">Configuraci&oacute;n</a>
                                        <ul class="collapse list-unstyled" id="settings">
                                            <li>
                                                <a href="/settings/restore">Restauraci&oacute;n de F&aacute;brica</a>
                                            </li>
                                            <li>
                                                <a href="/settings/backup">Copia de Seguridad</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/settings/depuration">Depuraci&oacute;n</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#firewall" aria-expanded="false">Cortafuegos</a>
                                <ul class="collapse list-unstyled" id="firewall">
                                    <li>
                                        <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#interfaces" aria-expanded="false">Interfaces</a>
                                        <ul class="collapse list-unstyled" id="interfaces">
                                            <li>
                                                <a href="/firewall/wan/1/setup">Configurar WAN</a>
                                            </li>
                                            <li>
                                                <a href="/firewall/lan/1/setup">Configurar LAN 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#rules" aria-expanded="false">Reglas</a>
                                        <ul class="collapse list-unstyled" id="rules">
                                            <li>
                                                <a href="/firewall/wan/1/rules">Configurar WAN</a>
                                            </li>
                                            <li>
                                                <a href="/firewall/lan/1/rules">Configurar LAN 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#power" aria-expanded="false">Encendido</a>
                                <ul class="collapse list-unstyled" id="power">
                                    <li>
                                        <a href="/system/reboot">Reiniciar</a>
                                    </li>
                                    <li>
                                        <a href="/system/shutdown">Apagar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- Page Content  -->
                    <div id="content">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>